<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Qore Editor"
            extensions="q,qc,qore,qfd,qsd,qconst"
            icon="icons/qore.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="com.qoretechnologies.qore.editors.QoreEditor"
            id="com.qoretechnologies.qore.editors.QoreEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            priority="high"
            default-charset="UTF-8"
            file-extensions="q,qc,qore,qfd,qsd,qconst"
            id="com.qoretechnologies.qore.qore-content-type"
            name="com.qoretechnologies.qore.qore-content-type"/>
   </extension>
   
   <extension point="org.eclipse.debug.core.launchConfigurationTypes">
	<launchConfigurationType
	   	   id="com.qoretechnologies.qore.launching.LocalQoreScript"
		   name="Qore script"
		   delegate="com.qoretechnologies.qore.launching.QoreScriptLaunchConfigurationDelegate"
		   modes= "run">
	   </launchConfigurationType>         
   </extension>
   
	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
	    <launchConfigurationTypeImage
	        icon="icons/qore.gif"
	        configTypeID="com.qoretechnologies.qore.launching.LocalQoreScript"
	        id="com.qoretechnologies.qore.launching.LocalQoreScriptTypeImage">
	    </launchConfigurationTypeImage>
	</extension>   
	
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
	    <launchConfigurationTabGroup
	        type="com.qoretechnologies.qore.launching.LocalQoreScript"
	        class="com.qoretechnologies.qore.launching.QoreScriptTabGroup"
	        id="com.qoretechnologies.qore.launching.QoreScriptTabGroup.QoreScript">
	    </launchConfigurationTabGroup>
	</extension>
	
	<extension point="org.eclipse.debug.ui.launchShortcuts">
	    <shortcut
	        id="com.qoretechnologies.qore.launching.QoreScriptShortcut"
	        class="com.qoretechnologies.qore.launching.QoreScriptShortcut"
	        label="Qore script"
	        icon="icons/qore.gif"
	        modes="run">
		<contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
               <iterate> 
                 <or>
                   <test property="org.eclipse.debug.ui.matchesPattern" value="*.q"/>
                   <test property="org.eclipse.debug.ui.matchesPattern" value="*.qc"/>
                   <test property="org.eclipse.debug.ui.matchesPattern" value="*.qore"/>
                   <test property="org.eclipse.debug.ui.matchesPattern" value="*.qfd"/>
                   <test property="org.eclipse.debug.ui.matchesPattern" value="*.qsd"/>
                   <test property="org.eclipse.debug.ui.matchesPattern" value="*.qconst"/>
                 </or>
               </iterate>
             </with>
           </enablement>
  		 </contextualLaunch>
 	    </shortcut>
	</extension>	

	<extension point="org.eclipse.ui.commands">
	   <command categoryId="org.eclipse.jdt.ui.category.source"
	            description="%jdt.ui.ToggleMarkOccurrences.description"
	            id="org.eclipse.jdt.ui.edit.text.java.toggleMarkOccurrences"
	            name="%jdt.ui.ToggleMarkOccurrences.name">
<!-- 	     <state id="NAME" class="org.eclipse.jface.menus.TextState" />
	     <state id="STYLE" class="org.eclipse.jface.commands.ToggleState:true" /> -->
	   </command>
	</extension>

	<extension point="org.eclipse.ui.handlers">
	   <handler commandId="org.eclipse.jdt.ui.edit.text.java.toggleMarkOccurrences"
	            class="org.eclipse.jdt.internal.ui.javaeditor.ToggleMarkOccurrencesHandler">
	     <activeWhen>
	       <with variable="activePartId">
	         <or>
	           <equals value="com.qoretechnologies.qore.editors.QoreEditor" />
	         </or>
	       </with>
	     </activeWhen>
	   </handler>
	 </extension>
 <extension
       point="org.eclipse.ui.popupMenus">
    <objectContribution
          id="com.qoretechnologies.qore.menudoccontribution"
          nameFilter="*.q*"
          objectClass="org.eclipse.core.resources.IFile">
       <action
             class="com.qoretechnologies.qore.actions.GenerateDocAction"
             id="com.qoretechnologies.qore.GenerateDocAction"
             label="Generate Qore documentation"/>
    </objectContribution>
 </extension>
 
</plugin>
